<!--<connectionStrings>
  <add name="DbConnection" connectionString="data source=103.48.50.253,1559;database=ExportERP.Test;uid=sa;password=pamface@321;" />
  <add name="ExportERPConnectionString" connectionString="Data Source=103.48.50.253,1559;Initial Catalog=ExportERP.Test;Persist Security Info=True;User ID=sa;Password=pamface@321" providerName="System.Data.SqlClient" />
  <add name="IExproContext" connectionString="data source=103.48.50.253,1559;initial catalog=ExportERP.Test;persist security info=True;user id=sa;password=pamface@321;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
</connectionStrings>-->

<connectionStrings>
  <add name="DbConnection" connectionString="data source=ARD37;database=ExportERP;uid=sa;password=pamface;" />
  <add name="ExportERPConnectionString" connectionString="Data Source=ARD37;Initial Catalog=ExportERP;Persist Security Info=True;User ID=sa;Password=pamface" providerName="System.Data.SqlClient" />
  <add name="IExproContext" connectionString="data source=ARD37;initial catalog=ExportERP;persist security info=True;user id=sa;password=pamface;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
</connectionStrings>

