<?xml version="1.0" encoding="utf-8"?>
<!--<appSettings >
  <add key="varserverName" value="103.48.50.253,1559" />
  <add key="VaruserName" value="sa" />
  <add key="varPasswordName" value="pamface@321" />
  <add key="VarBaseName" value="ExportERP.Test" />
  <add key="xxpc36" value="42" />

</appSettings>-->



<appSettings >
  <add key="varserverName" value="ARD37" />
  <add key="VaruserName" value="sa" />
  <add key="varPasswordName" value="pamface" />
  <add key="VarBaseName" value="ExportERP" />
  <add key="xxpc36" value="42" />
</appSettings>
