
@{
    ViewBag.Title = "City";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <title>Login</title>
    <meta name="description" content="Medical Assistant">

    <link rel="icon" type="image/png" href="img/favicon/favicon-128.png" sizes="128x128">

    <link rel="preconnect" href="https://fonts.gstatic.com/">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&amp;display=swap" rel="stylesheet">


    <!--<link rel="stylesheet" href="font/CS-Interface/style.css">-->
    <!--<link rel="stylesheet" href="css/vendor/bootstrap.min.css">

    <link rel="stylesheet" href="css/vendor/bootstrap-icons%401.4.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="css/vendor/glide.core.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/main.css">-->
    <!--<script src="js/base/loader.js"></script>-->


    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="~/App_Themes/iexpro/css/styles.css" rel="stylesheet" />



</head>
<body class="h-100">
    <div id="root" class="h-100">
        <div class="fixed-background"></div>
        <div class="container p-0 pt-5 h-100 position-relative">
            <div class="row g-0 h-100">

                <div class="col-12 h-100 pb-4 px-4 pt-0 p-lg-0">
                    <div class="sw-lg-80 login-bg shadow-deep py-5">
                        <div class="sw-lg-80 px-5">
                            <div class="row mb-5">
                                <div class="col-xl-12 text-center">
                                    <div class="sh-11">

                                        <a href="">
                                            <div class="logo-default mx-auto">
                                                <div class="row">
                                                    <div class="col-lg-6 col-6"><img class="img-fluid" src="~/App_Themes/iexpro/img/iexpro-logo.png" alt="" /></div>
                                                    <div class="col-lg-6 col-6"><img class="img-fluid" src="~/App_Themes/iexpro/img/champo-logo.png" alt="" /></div>
                                                </div>



                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12">
                                    <form class="tooltip-end-bottom">
                                        <div class="row">
                                            <div class="col-xl-12">
                                                <div class="mb-3 filled form-group tooltip-end-top">
                                                    <i class="icon-14 bi-person-fill text-primary"></i>
                                                    <input class="form-control" placeholder="User Name" name="User Name">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xl-12">
                                                <div class="mb-3 filled form-group tooltip-end-top">
                                                    <i class="icon-14 bi-unlock text-primary"></i>
                                                    <input class="form-control pe-7" name="password" type="password" placeholder="Password">
                                                    <a class="text-small position-absolute t-3 e-3" href="Pages.Authentication.ForgotPassword.html">Forgot?</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xl-12 mx-auto text-center">
                                                <button type="submit" class="btn btn-lg btn-danger">Login</button>
                                            </div>
                                        </div>
                                    </form>

                                    <div class="row mt-5">
                                        <div class="col-xl-12  text-center">
                                            <p>Don't have an account ? <a href="#">Register here</a></p>


                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>






    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/App_Themes/iexpro/js/base/globals.js"></script>
    <script src="~/App_Themes/iexpro/js/base/nav.js"></script>
    <script src="~/App_Themes/iexpro/js/base/settings.js"></script>
    <script src="~/App_Themes/iexpro/js/common.js"></script>
    <script src="~/App_Themes/iexpro/js/scripts.js"></script>

    <!--<script src="js/vendor/jquery-3.5.1.min.js"></script>
    <script src="js/vendor/bootstrap.bundle.min.js"></script>
    <script src="js/vendor/OverlayScrollbars.min.js"></script>-->
    <!--<script src="js/vendor/autoComplete.min.js"></script>-->
    <!--<script src="js/vendor/clamp.min.js"></script>-->
    <!--<script src="icon/acorn-icons.js"></script>
    <script src="icon/acorn-icons-interface.js"></script>-->
    <!--<script src="js/base/helpers.js"></script>-->
    <!--<script src="js/base/globals.js"></script>
    <script src="js/base/nav.js"></script>-->
    <!--<script src="js/base/search.js"></script>-->
    <!--<script src="js/base/settings.js"></script>
    <script src="js/common.js"></script>
    <script src="js/scripts.js"></script>-->
</body>

</html>
